body {

  margin: 0px;
}

.button1 {
    font-weight: 700;
    color: rgb(78, 76, 76);
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
  } 
  a.button7:hover { background: rgb(53, 167, 110); }
  a.button7:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }

.button2 {
  font-weight: 500;
  color: white;
  background-color:#008CBA;
  padding: 10px 24px;
  border-radius: 5px;
  width: 180px
}
